.background-img{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../../background-img.png");
    height: 50rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
  }